<ion-view title="Home" id="page1"  hide-back-button="true" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <div class="spacer" style="width: 300px; height: 29px;"></div>
        <a ui-sref="menu.contacts" id="home-button8" class=" button button-energized button-large button-block ">Contactos</a>
        <a ui-sref="menu.groups" id="home-button9" class=" button button-energized button-large button-block ">Grupos</a>
        <button id="home-button10" class=" button button-energized button-large button-block ">Eventos</button>
        <button id="home-button11" class=" button button-energized button-large button-block ">Servicios</button>
        <button id="home-button12" class=" button button-energized button-large button-block ">Entrenamientos</button>
        <button id="home-button13" class=" button button-positive button-large button-block ">Mi Cuenta</button>
    </ion-content>
</ion-view>