<ion-view cache-view="false" id="attendEventNew" class=" ">
    <ion-nav-title>Attendence</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button icon ion-edit icon-right" ui-sref="menu.events">
            Cancelar
        </button>
    </ion-nav-buttons>
    <ion-content padding="false" class="has-header">
        <form id="edit-contact{{contact.id}}" class="list">
            <ion-list id="register-list2" class=" ">


<fancy-select
        header-text="Single"
        allow-empty="false"
        value="attendcontact.input"
        value2="attendcontact.output"
        text="Elegir miembros"
        items="alldata.allcontacts"
        value-property="fname"
        text-property="fname"
        multi-select="true"
        note-text="Select "
        modal-template-url="lib/ionic-fancy-select/templates/modal-template-contact.html"
        template-url="lib/ionic-fancy-select/templates/item-template.html"
        value-changed="onValueChanged(value)"
        get-custom-text="getCustomText(value)"
>
</fancy-select>


                <label class="item item-input " name="date">
                    <span class="input-label">Fecha: </span>
                    <input type="date" placeholder="" ng-model="attendcontact.date">
                </label>
                <label class="item item-input " name="note" >
                    <span class="input-label">Note</span>
                    <input type="text" placeholder="" ng-model="attend.note">
                </label>
                <button id="register-button4" class=" button button-energized  button-block " ng-click="newAttend()">Add Attendance</button>
                </ion-list>
            </form>
    </ion-content>
</ion-view>