<ion-view title="Login" hide-nav-bar="true" hide-back-button="true" id="page4" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h2 id="login-heading1" style="color:#000000;text-align:center;" class=" ">Extreme Nazarene</h2>
        <form id="login-form1" class="list ">
            <div class="">
                <img src="img/HLydMwV2RJc2SAFMNwTQ_logo_O_solo_resize.png" width="35%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-list id="login-list1" class=" ">
                <label class="item item-input " id="login-input1">
                    <span class="input-label">E-Mail</span>
                    <input type="email" placeholder="" ng-model="data.email">
                </label>
                <label class="item item-input " id="login-input2">
                    <span class="input-label">Clave</span>
                    <input type="password" placeholder="" ng-model="data.password">
                </label>
            </ion-list>
            <!--<ion-checkbox>Remember</ion-checkbox>-->
            <div class="spacer" style="height: 40px;"></div>
            <button id="login-button1" class=" button button-energized  button-block " ng-click="login()">Log in</button>
        </form>
        <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button2" class=" button button-energized  button-block button-clear ">Or create an account</a>
        <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button3" class=" button button-energized  button-block button-clear ">Forgot Password?</a>
    </ion-content>
</ion-view>