<ion-view title="Register" id="page5" class=" " cache-view="false">
    <ion-content padding="true" class="has-header">
        <form id="register-createuser" name="registeruser" class="list " ng-submit="newUser(registeruser.$valid)">
            <ion-list id="register-list2" class=" ">
                <label class="item item-input " id="register-email" name="email">
                    <span class="input-label">Email</span>
                    <input ng-model="user.email" type="email" placeholder="" requried="">
                </label>
                <label class="item item-input " id="register-input5" name="password" required>
                    <span class="input-label">Clave</span>
                    <input ng-model="user.password" type="password" placeholder="">
                </label>
            </ion-list>
            <label class="item item-select " id="register-select1" name="church">
                <span class="input-label">Igelsia</span>
                <select ng-model="user.church" ng-options="key as value for (key, value) in result.churches">
                    <option value="">Nuevo Igelsia</option>
                </select>
            </label>
            <label ng-hide="user.church" class="item item-input " id="register-churchname" name="church_name">
                <span class="input-label">Nombre de Igelsia</span>
                <input ng-model="user.church_name" type="text" placeholder="">
            </label>
            <label ng-hide="user.church" class="item item-input " id="register-churchaddress" name="church_address">
                <span class="input-label">Address de Igelsia</span>
                <input ng-model="user.church_address" type="text" placeholder="">
            </label>
            <label  ng-hide="user.church" class="item item-input " id="register-churchcity" name="church_city">
                <span class="input-label">city de Igelsia</span>
                <input ng-model="user.church_city" type="text" placeholder="">
            </label>
            <label  ng-hide="user.church" class="item item-input " id="register-churchcountry" name="church_country">
                <span class="input-label">Country de Igelsia</span>
                <input ng-model="user.church_country" type="text" placeholder="">
            </label>
            <label  ng-hide="user.church" class="item item-input " id="register-churchdistrict" name="church_district">
                <span class="input-label">District de Igelsia</span>
                <input ng-model="user.church_district" type="text" placeholder="">
            </label>
            <button type="submit" id="register-button4" class=" button button-energized  button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>