<ion-view title="Forgot Password" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="forgotPassword-form3" class="list ">
            <ion-list id="forgotPassword-list3" class=" ">
                <label class="item item-input " id="forgotPassword-input10" name="email">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="login" id="forgotPassword-button5" class=" button button-energized  button-block ">Send Password Reset Link</a>
        </form>
    </ion-content>
</ion-view>