<ion-view cache-view="false" id="newServiceattned" class=" ">
    <ion-nav-title>Attendence</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button icon ion-edit icon-right" ui-sref="menu.trainings">
            Cancelar
        </button>
    </ion-nav-buttons>
    <ion-content padding="false" class="has-header">
        <form id="new-train{{contact.id}}" class="list">
            <ion-list id="register-list2" class=" ">

                <label class="item item-input " name="adults" >
                    <span class="input-label">Adultos:</span>
                    <input type="number" placeholder="" ng-model="attend.adults">
                </label>
                <label class="item item-input " name="kids" >
                    <span class="input-label">Ninos:</span>
                    <input type="number" placeholder="" ng-model="attend.kids">
                </label>
                <label class="item item-input " name="extremies" >
                    <span class="input-label">Personas de Extreme:</span>
                    <input type="number" placeholder="" ng-model="attend.extremies">
                </label>
                <label class="item item-input " name="offering" >
                    <span class="input-label">Offering:</span>
                    <input type="number" placeholder="" ng-model="attend.offering">
                </label>
                <label class="item item-input " name="tithe" >
                    <span class="input-label">Tithe:</span>
                    <input type="number" placeholder="" ng-model="attend.tithe">
                </label>
                <label class="item item-input " name="other" >
                    <span class="input-label">Other Income:</span>
                    <input type="number" placeholder="" ng-model="attend.other_income">
                </label>
                <label class="item item-input " name="date">
                    <span class="input-label">Fecha: </span>
                    <input type="date" placeholder="" ng-model="attendcontact.date">
                </label>
                <label class="item item-input " name="note" >
                    <span class="input-label">Note</span>
                    <input type="text" placeholder="" ng-model="attend.note">
                </label>
                <button id="register-button4" class=" button button-energized  button-block " ng-click="newAttend()">Add Attendance</button>
                </ion-list>
            </form>
    </ion-content>
</ion-view>