<ion-view id="services_index" cache-view="false">
    <ion-nav-title>Servicos</ion-nav-title>
    <ion-nav-buttons side="right">
       <!-- <button class="button icon ion-ios-plus-outline icon-right" ui-sref="groupCreate">
            Nuevo
        </button>-->
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">
        <div id="group-button-bar1" class=" button-bar "></div>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Filter Servicos" ng-model="search">
        </label>


            <div  ng-repeat="serve in services | filter:search" >
                <ion-item class="item-item energized  " id="group-list-item6" ui-sref="menu.serveShow({serveId: serve.id})" ui-sref-opts="{reload: true, notify: true}">
                    <h2energized>{{serve.name}} ({{serve.total}})</h2energized>
                </ion-item>
            </div>

    </ion-content>
</ion-view>