<ion-view cache-view="false" id="pageServe{{serve.id}}" class=" " hide-back-button="false">
    <ion-nav-title>{{serve.name}}</ion-nav-title>
    <ion-nav-buttons side="right">
        <!--<button class="button icon ion-edit icon-right" ui-sref="groupEdit({groupId: group.id})">
           editar
        </button>-->
    </ion-nav-buttons>
    <ion-content padding="false" class="has-header">
        <div id="contactos-button-bar1" class=" button-bar "></div>
        <div class="group_show_header" style="">
            <h1>{{serve.name}}</h1>
            <h3 ng-show="serve.total">Servicio pasado: {{serve.total}}</h3>
        </div>
        <div class="group_show_body list">
            <a ui-sref="serveAttendCreate({serveId: serve.id})" class="button button-energized  button-block " > Añadir Asistencia</a>

            <div ng-show="serve.attendance.length" class="item item-divider">Servico:</div>
            <div ng-repeat="attend in serve.attendance">
                <ion-item class="item-stable item" ng-click="toggle(attend.id)">
                    <i class="icon" ng-class="attend.id == state ? 'ion-minus' : 'ion-plus'"></i>
                    {{attend.formdate}} ({{attend.total}}) - ${{attend.all_income}}
                </ion-item>
                <div ng-show="attend.id == state">
                    <div class="item-accordion item" >
                        <div class="row">
                            <div class="col-60">
                                <div class="row">Offering: ${{attend.offering}}</div>
                                <div class="row">Tithe: ${{attend.tithe}}</div>
                                <div class="row">Other: ${{attend.other_income}}</div>
                            </div>
                            <div class="col-40">
                                <div class="row"><i class="icon ion-ios-body" style="font-size:20px; margin-right:10px;"></i> {{attend.adults}}</div>
                                <div class="row"><i class="icon ion-ios-body" style="font-size:15px;margin-right:10px;"></i> {{attend.kids}}</div>
                                <div class="row"><i class="icon ion-close-round" style="margin-right:10px;"></i> {{attend.extremies}}</div>
                            </div>
                        </div>
                        <div class="row">{{attend.note}}</div>
                    </div>
                </div>
            </div>

        </div>

        <!--<button id="delete-button4" class=" button button-energized  button-block " ng-click="deleteGroup()">Delete</button>-->


        </div>


    </ion-content>
</ion-view>